@tailwind base;
@tailwind components;
@tailwind utilities;
@import "topo.css";

:root {
}

.btnPadrao {
  display: flex;
  background-color: #ddd;
  padding: 10px;
  border-radius: 10px;
}

.campoForm {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.campoForm label {
  font-size: larger;
}
.campoForm input {
  border: 1px solid #888;
  padding: 3px;
  border-radius: 3px;
}

.myContainer {
  display: flex;
  width: 100%;
}

.myBox {
  text-wrap: nowrap;
  display: flex;
  width: 20%;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: #3498db;
  margin-right: 0px; /* Espaçamento horizontal entre as divs */
  transition: background-color 0.3s; /* Adiciona uma transição suave */
}

.myBox:hover {
  background-color: #e74c3c; /* Cor diferente ao passar o mouse */
}
